body{
    background-color: rgba(177, 176, 176, 0.674);
    font-family: 'Times New Roman', Times, serif
}

header{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.453);
}

#troca{
    overflow-y: scroll;
    min-height: 280px;
    max-height: 280px;
}


section{
    background-color: white;
    font-size: 18px;
    overflow-y: hidden;
    border-radius: 9px;
    padding: 20px;
    width: 350px;
    height: auto;
    margin: auto; 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.519);
}

section input{
    font-size: 14px;
    padding: 4px 4px;
    margin: 7px 0;
    border: 1px solid rgba(204, 204, 204, 0.75) ;
    border-radius:  4px;
    box-sizing: border-box;
}

section input.inputCustom{
    width: 80%;
    padding:10px 15px;
    margin: 8px 0;
}

button{
    background-color: #4cb251da;
    color: white;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

button:hover{
    background-color: #45a049;
}

footer{
    text-align: center;
    font-style: italic;
}

table, th, td {
    border:1px solid black;
    text-align: left; 
}