@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /*background: url('IMG-Projeto.jpg');*/
    background-color:#334f4fa9 ;
    height: 150px ;
    margin-bottom: 25px;
}

#span{
    font-size: 50px;
    font-weight: bold;
    text-shadow:5px 5px 5px rgb(87, 199, 214);
}

body{
    background-color: #8FCFCD ;   
    padding: 0 px;
}

footer{
    background-color:#334f4fa9;
    margin-top: 25px;
    padding: 15px;  
}

.ancora{
    color: rgb(87, 199, 214);
}

#h2Footer{
    background-color: #273d3da9;
    padding: 7px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.container{
    background-color: #53818091;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #53818060 ;
    padding: 25px;
}
#seleciona_lista{
    width: 70%;
}

#btnJson{
    margin-top: 10px;
}
